.carousel {
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
}

.feature-header {
  font-weight: 500;
}

.dt {
  width: 4rem;
}
.dd {
  padding-left: 1rem;
  width: auto;
  font-weight: 500;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
