.vehicle {
  height: auto;
  width: 16rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.vehicle-card {
  max-width: 400px;
}

.vehicle-image {
  margin-top: 1rem;
  width: 16rem;
  height: 300px;
}

.crop {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.vehicle-image img {
  width: 16rem;
  height: 10rem;
}


.vehicle-header-image {
  background-size: cover;
}

.dt {
  width: 4rem;
}
.dd {
  padding-left: 1rem;
  width: auto;
  font-weight: 500;
}
.title-header {
  margin-bottom: 0.5rem;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
